* {
    font-family: cursive;
}

header {
    align-items: center;
}
body {
    background-color: #24252a;
    align-items: center;
}

.logo{
    height: 200px;
    border-radius: 20%;
    background-image: url('../src/images/84303.jpg');
    
}
.top{
    justify-content: space-between;
    display: flex;
    height: 200px;
    
}
.top .star-gif img{
    
    height: 200px;
    border-radius: 30px;
}

nav {

    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding: 10px;
    /* padding-left: 250px; */
    /* margin: auto; */
}

input#file-upload-button{
    color:  #ff0000;
}

input#file {
    font-size: 20px;
    padding: 9px 25px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ese 0s;
    color: #ffd52d;
}

.button{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
}

::placeholder{

    font-family: Comic Sans MS;

    font-size: 30px;

    color: #ffd52d;

}

button{

    font-size: 30px;
    padding: 9px 25px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ese 0s;
    color: #ffd52d;
    background-color: #24252a;
}


.button .Favorites{
    background-color: #24252a;
    border: 4px solid #ffd52d;
    transition: 1s;

}
.button .Favorites:hover{
    background-color: #d628cd;
    border: 4px solid #ffd52d;
}
.button .Home{
    background-color: #24252a;
    border: 4px solid #ffd52d;
    transition: 1s;
}
.button .Home:hover{
    background-color:#29ccf5;
    border: 4px solid #ffd52d;
    
}

.button .Trending{
    background-color: #24252a;
    border: 4px solid #ffd52d;
    transition: 1s;
}
.button .Trending:hover{
    background-color: #47eb31;
    border: 4px solid #ffd52d;
    
}
.button .Upload{
    border: 4px solid #ffd52d;
    background-color: #24252a;
    transition: 1s;
}

.button .Upload:hover{
    background-color: #29ccf5;
    border: 4px solid #ffd52d;
    
}

.button .Uploads{
    border: 4px solid #ffd52d;
    background-color: #24252a;
    transition: 1s;
}

.button .Uploads:hover{
    background-color: #e61717;
    border: 4px solid #ffd52d;
    
}


.box{
    margin: auto;
    padding: auto;
    position: relative;
}


.input {
    padding-left: 25px;
    width: 215px;
    height: 70px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
    margin: 20px auto;
    /* margin: auto; */

  
}
.box:hover input{
    width: 100%;
    background-color: #24252a;
    border-radius: 10px;
    /* max-width: 800px; */
}

.info{
    position: relative;
    background-color: #fff;
    opacity: 0.6;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info a{
    color: #24252a;
    text-decoration: none;
    
}

.view-detail:hover {
    color: #e21e3f;
}


span.favorite {
    padding-left: 10px;
    cursor: pointer;
}
  
span.favorite.active {
    color: #ff0095;
}
  
span.favorite:hover {
    color:#bb87ff
}


span.star {
    padding-left: 10px;
    cursor: pointer;
}
  
span.star.active {
    color: #e2df0b;
}
  
span.star:hover {
    color:#ecdb3c
}

.container{
    position: relative;
   }
  
.container .image-container img{
    width: 100%;
    display: block;
    border-radius: 20px;
  
}

.img-div {
    
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    border-radius: 20px;

    
}
.img-div img{

    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img-div > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.container .image-container {
    column-count: 4;
    column-gap: 10px;
    padding-left: 300px;
    padding-right: 300px;
}

    .gif-container{
        position: relative;
    }
   
    .gif-details {
        display: block;
        margin: 15px auto;
        padding: 40px;
        width: 60%;
        align-self: center;
        min-height: 100vh;
        background-color: #ffa500;
        opacity: 0.8;
        border-radius: 10%;
        border-right: 10px solid #865700;
        border-bottom: 10px solid #865700;
        z-index: 100;
    }
    
   
    .gif {
        display: inline;
        padding: 40px;
        margin: 35px auto;
    }

    .gif img{
        margin: 35px auto;
        width: 75%;
        border-radius: 15px;
        box-shadow: #26394d 0px 20px 30px -10px;
    }
        
    .details-container {
        position: absolute;
        width: 100%;
        min-height: 100%;
        background-color: #24252a;
        z-index: 30;
        background-position: center;
    }
    
    .gif-details .text-container{
        /* display: block; */
        padding: 20px;
        font-size: medium;
        margin: 20px ;
    }
    
    .close-btn {
        position:absolute;
        font-size: x-large;
        top: 15px;
        right: 300px;
        width: 45px;
        height: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 3px;
        background-color: #ffa500;
        border-right: 5px solid #865700;
        border-bottom: 5px solid #865700;
        cursor: pointer;
        border-radius: 50%;
        color: #24252a;
        z-index: 250;
    }

    label.Upload {
        font-size: 30px;
        padding: 9px 25px;
         text-decoration: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ese 0s;
        color: #ffd52d;
        background-color: #24252a;
        border: 4px solid #ffd52d;
        }

    label.Upload:hover{
            background-color: #800080;
        }
          
    button#read-file:hover{
            background-color: #ff0000;
        }
    
    
    
    
    button#read-file{
       border: 4px solid #ffd52d;
        }

hr {
    margin-top: 100px;
    width: 1000px;
    color: #ffd52d;
    }

   .footer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      color: #ffd52d;
      align-items: flex-end;
     justify-content: space-around;
     }

   .personal-info {
      display: flex;
      background-color: #24252a ;
      /* justify-content: center; */
      align-items: initial;
      opacity: 0.8;
      color: #ffd52d;
      flex-direction: column;   
      border-radius: 50px;
      /* box-sizing: border-box; */
      /* font-family: Comic Sans MS; */
      border-left: 1px solid #ffd52d;
      border-top: 1px solid #ffd52d;
      border-right: 6px solid #ffd52d;
      border-bottom: 6px solid #ffd52d;
      padding: 25px;
      margin-top: 50px; 
      margin-bottom: 20px;                          
              
    }

    .footer a:hover {
        color: #4bcfe1;
        transition: 0.3s ease-out;

    }

   .footer-team-name-and-planet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: baseline;
    }

    #planet {
        block-size: 155px;
        border-radius: 20%;
        background-image: url('../src/images/84303.jpg');
    }


    .personal-info a{
        color: #ffd52d;
        text-decoration: none;
    }
    
    .footer-container {
        margin-top: 10px; 
        margin-bottom: 20px; 
    }

  
      .body{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: #262626;
        margin-top: 10px;
       
      }
      
      ul{
        display: flex;
        margin-bottom: 1px;
       }

      ul li{
        position: relative;
        display: block;
        color: #666;
        font-size: 10px;
        height: 30px;
        width: 30px;
        background: #171515;
        line-height: 30px;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
        transition: .5s;
      }
      ul li:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        border-radius: 50%;
        transform: scale(.9);
        z-index: -1;
        transition: .5s;
      }
      ul li:nth-child(1):before{
        background: #4267B2;
      }
      ul li:nth-child(2):before{
        background: #1DA1F2;
      }
      ul li:nth-child(3):before{
        background: #E1306C;
      }
      ul li:nth-child(4):before{
        background: #2867B2;
      }
      ul li:nth-child(5):before{
        background: #ff0000;
      }
      ul li:hover:before{
        filter: blur(3px);
        transform: scale(1.2);
        /* box-shadow: 0 0 15px #d35400; */
      }
      ul li:nth-child(1):hover:before{
        box-shadow: 0 0 15px #4267B2;
      }
      ul li:nth-child(2):hover:before{
        box-shadow: 0 0 15px #1DA1F2;
      }
      ul li:nth-child(3):hover:before{
        box-shadow: 0 0 15px #E1306C;
      }
      ul li:nth-child(4):hover:before{
        box-shadow: 0 0 15px #2867B2;
      }
      ul li:nth-child(5):hover:before{
        box-shadow: 0 0 15px #ff0000;
      }
      ul li:nth-child(1):hover{
        color: #456cba;
        box-shadow: 0 0 15px #4267B2;
        text-shadow: 0 0 15px #4267B2;
      }
      ul li:nth-child(2):hover{
        color: #26a4f2;
        box-shadow: 0 0 15px #1DA1F2;
        text-shadow: 0 0 15px #1DA1F2;
      }
      ul li:nth-child(3):hover{
        color: #e23670;
        box-shadow: 0 0 15px #E1306C;
        text-shadow: 0 0 15px #E1306C;
      }
      ul li:nth-child(4):hover{
        color: #2a6cbb;
        box-shadow: 0 0 15px #2867B2;
        text-shadow: 0 0 15px #2867B2;
      }
      ul li:nth-child(5):hover{
        color: #ff1a1a;
        box-shadow: 0 0 15px #ff0000;
        text-shadow: 0 0 15px #ff0000;
      }
      ul li:hover{
        color: #ffa502;
        box-shadow: 0 0 15px #d35400;
        text-shadow: 0 0 15px #d35400;
      }

    .close-btn > i {
        pointer-events: none;
        margin-top: 5px;
    }
